.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.about {
  text-align: start;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @media screen and (min-width: 1024px) {
    margin-top: 4rem;
    flex-direction: row;
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
}
